
.success{
    height: 300px;
}
    


.iiest-logo{
    height: 65px;
    width:70px;
    
    
}
.bg-body-tertiary{
    
    margin-bottom: 40px;
    height: 70px;
    margin-left: -50px;
    box-shadow: 2px 3px 4px rgb(169, 166, 166);
    
}
