

.alum {
    background: url('https://image-static.collegedunia.com/public/reviewPhotos/1096498/review2.jpg') no-repeat center/cover;
    height: 600px;
    position: relative;
    color: white;
    text-align: center;
    width: 160%;
    margin-left: -30%;
    animation-name: opacity;
    animation-duration: 1.5s;
} 

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 20px;
}

