.events{
    
    margin: 20px;
    
}
.collaboration{
    margin-bottom: 10px;
    padding: 20px 20px;
    border-radius: 6px;
    background:linear-gradient(to right,white,hsl(60, 51%, 71%))

}
.evetitle{
    font-size: 3rem;
    font-family: bold;
    text-align: center;
    font-weight: bold;
    color: rgba(97, 16, 16, 0.822);
}
.collaboration:hover{
     background:linear-gradient(to right,white,hsl(60, 41%, 59%))
}
.Upcoming{
    background-color: powderblue;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0%;

}
.uptitle{
    font-size: 3rem;
    font-family: bold;
    text-align: center;
    font-weight: bold;
    color: rgba(27, 24, 24, 0.822); 
}
