.events{
    
    margin: 20px;
    
}
.collaboration{
    margin-bottom: 10px;
    padding: 20px 20px;
    border-radius: 6px;
    background:linear-gradient(to right,white,hsl(60, 51%, 71%))

}
.evetitle{
    font-size: 3rem;
    font-family: bold;
    text-align: center;
    font-weight: bold;
    color: rgba(97, 16, 16, 0.822);
}
.collaboration:hover{
     background:linear-gradient(to right,white,hsl(60, 41%, 59%))
}
.Upcoming{
    background-color: powderblue;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0%;

}
.uptitle{
    font-size: 3rem;
    font-family: bold;
    text-align: center;
    font-weight: bold;
    color: rgba(27, 24, 24, 0.822); 
}
.cardsEvent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cardEve{
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 234, 234);
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    min-height:400px;
    margin: 20px;

}
.cardEve:hover{
     background-color: rgb(214, 220, 220);
     transform: scale(1.02,1.02);
     transition: ease-in-out 0.3s;
     cursor: pointer;
  
    
}
.EventHeading{
    text-align: center;
    font-weight: bold;
    color: rgb(55, 56, 56);
    font-size: 2rem;
}
.eventP{
    text-align: center;
}
