
.home{
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#003366;
    color: white;
    padding: 15px 30px;
    font-size: 19px;
}

header .logo a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

header .logo img{
    height: 50px;
    width: auto;
}

.search{
    width: 300px;
    height: 30px;
    padding-left: 7px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid black;
}

.search:hover{
    background: rgb(225, 223, 223);
}

nav{
    transform: translateX(50px);
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}

nav a:hover{
    text-decoration: underline;
}

.login-btn{
    background: #ff9800;
    padding: 5px 10px;
    border-radius: 5px;
}

.login-btn:hover{
    background: #f5a834;
}

.register-btn{
    background: #4caf50;
    padding: 5px 10px;
    border-radius: 5px;
}

.register-btn:hover{
    background: #5bd25f;
}

.hero{
    margin-top: 60px;
    background: url('https://www.iiests.ac.in/assets/images/whyiiest/02.jpg') no-repeat center/cover;
    height: 600px;
    position: relative;
    color: white;
    text-align: center;
    
}

.overview{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events ul{
    font-size: 20px;
}

.events ul li{
    padding-bottom: 5px;
}

.overview h1{
    font-size: 36px;
}

.overview p{
    font-size: 20px;
}

.content{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background: white;
}

.news, .events{
    width: 45%;
}

.news h2{
    color: #003366;
}

.events h2{
    color: #003366;
}

.events li{
    cursor: pointer;
}

.cards{
    display: flex;
    gap: 15px;
    margin-top: 15px;
    width: 610px;
}

.card{
    margin-top: 20px;
    background: white;
    padding: 15px;
    box-shadow: 0px 2px 5px black;
    flex: 1;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.card:hover{
    background: rgb(234, 232, 232);
    transform: translateY(-5px)
}


.action{
    background: #003366;
    color: white;
    text-align: center;
    padding: 40px 40px;
}

.action p{
    font-size: 18px;
}

.action button{
    padding: 10px 20px;
    font-size: 16px;
    background: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action button:hover{
    background: #e68900;
}

.foot{
    cursor: pointer;
}

footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}