
.hero{
    margin-top: 33px;
    background: url('https://www.iiests.ac.in/assets/images/whyiiest/02.jpg') no-repeat center/cover;
    height: 600px;
    position: relative;
    color: white;
    text-align: center;

    animation-name: opacity;
    animation-duration: 1.6s;
    
    
}
.event{
    margin-top: 33px;
    background: url('https://assets.telegraphindia.com/telegraph/2024/Apr/1712148081_iiest.jpg') no-repeat center/cover;
    height: 600px;
    position: relative;
    color: white;
    text-align: center;
    animation-name: opacity;
    animation-duration: 1.6s;
}

.overview{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.overview h1{
    font-size: 36px;
}

.overview p{
    font-size: 20px;
}

.content{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background: white;
}



.cards{
    display: flex;
    gap: 15px;
    margin-top: 15px;
    width: 610px;
}

.card{
    margin-top: 20px;
    background: white;
    padding: 15px;
    box-shadow: 0px 2px 5px black;
    flex: 1;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.card:hover{
    background: rgb(234, 232, 232);
    transform: translateY(-5px)
}


.action{
    background: #003366;
    color: white;
    text-align: center;
    padding: 20px 20px;
    min-height: min-content;
}

.action p{
    font-size: 18px;
}

.action button{
    padding: 10px 20px;
    font-size: 16px;
    background: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action button:hover{
    background: #e68900;
}



@keyframes opacity {
    from{opacity: 0;}
    to{opacity: 1;}
}
.view-all-btn{
    background-color: rgb(120, 175, 66);
    border: 0.5px solid rgb(105, 225, 65);
}
.view-all-btn:hover{
     background-color: rgb(130, 188, 71);
     border: 0.5px solid rgb(105, 225, 65);
}